<title>درباره ما</title>
@{
    ViewBag.Title = "About";
    Tezol_DBEntities db = new Tezol_DBEntities();
}

<!-- //end Social widgets -->
<!-- Breadcrumbs -->
<section class="container">
    <nav class="breadcrumbs"> <a href="/">خانه</a> <span class="divider">›</span> درباره ما </nav>
</section>
<!-- //end Breadcrumbs -->
<!-- About us -->
<section class="container content-row page-content">

    <div class="row">
       
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>تعریف ایرونیکا</h4>

            <br />
            <p>            ایرونیکا بر اساس این ایده بنا شده که با ایجاد بستری امن سرمایه گذاری در بخش خدمات اینترنتی، کاربران عزیز بتوانند با اطمینان خاطر با هر میزان از سرمایه دلخواه خود وارد این بازار شوند.</p>


            <h4>ماموریت</h4>


            <p>
                نهایت تلاش برای اجرای بهترین بستر سرمایه گذاری در بازار مسکن بر پایه دقیقترین برنامه ریزی با پشتوانه تیمی جوان و متخصص تا که هموطنان عزیز بتوانند پازل بام زندگی خود را به آرامی بچینند.
                ار آنجایی که در قانون اساسی به حق مسکن به عنوان یک حق برای شهروندان تاکید شده، گروه توسعه مسکن بام چین متهد شده است که با  ایجاد زیر ساخت های مناسب و امن (سایت و نرم افزار) شرایطی ایده ال برای تک تک هموطنان فراهم کند تا سهولت رسیدن به این حق تاکید شده، میسر گردد
            </p>
            <h4>تعاریف کاربران</h4>
            <p>کاربران به گروه تقسیم می شوند:</p>


            <ol>
                <li>مالکین</li>
                <li>سهامداران</li>
            </ol>
            <h4>مالکین</h4>
            <p>

                شخصی که نامش به عنوان مالک در سند رسمی و مورد تایید قانون اساسی جمهوری اسلامی ایران ثبت شده و اقدام به عرضه هر مقدار از متراژ ملک خود (به درصد) در بستر بام چین کرده است.
            </p>
            <h4>سهامدار</h4>
            <p>
                شخصی که در نرم افزار بام چین اقدام خرید هر مقدار سهام از سهام های موجود در این بستر را کرده است
                نکته : بدیهی است که هر کاربر به طور همزمان می تواند هم به عنوان مالک و هم به عنوان سهامدار در بستر بام چین فعالیت کند.

            </p>

            <h4>فرایند معاملات</h4>

           

            <p>
                یک. مالک، ملک خود را در اپلیکیشن بامچین ثبت نموده و مدارک لازم را بارگزاری می‌نماید.
                نکته: مداراک لازم شامل :
                <ol>
                    <li>تیم بامچین، استعلام‌های لازم را از مراجع ذی‌صلاح دریافت می‌کند و پس از تایید نسبت به بازداشت سند ملک در مراجع قانونی اقدام می‌نماید تا فرایند ثبت و انجام معاملات برای کاربر فراهم شود</li>
                    <li>ملک ثبت شده در پروفایل مالک قرار گرفته و مالک می‌تواند هر میزان (به درصد) از ملک را برای عرضه انتخاب نماید</li>
                    <li>ملک‌های عرضه شده از طرف مالکین در قفسه‌ی املاک اپلیکیشن بامچین قابل مشاهده و معامله در دسترس عموم خواهد بود</li>
                    <li></li>
                </ol>
                <h4>مالکان با فروش سهام ملک خود در بستر بامچین، حق استفاده از ملک مذکور را با توجه به قرارداد صلح نوشته شده بین گروه توسعه مسکن بامچین و شخص مالک حفظ می کند</h4>
                <h4>مالکانی که سهم ملک خود را فروخته‌اند، برای بازپسگیری مالکیت خود، باید سهم آن را به قیمت روز خریداری کنند</h4>
            </p>
           
            <ol>
                <li>خریدار پس از ورود به اپلیکیشن بامچین، اطلاعات هویتی خود را ثبت می‌کند</li>
                <li>پس از انجام فرآیند تایید توسط تیم بامچین، برای کاربر امکان انجام معامله ایجاد می‌شود</li>
                <li>سهامدار با مراجعه به قفسه املاک، ملک و متراژ درخواستی خود را انتخاب می‌نماید</li>
                <li>پس از انتخاب و پرداخت هزینه ملک مورد نظر، ملک در سبد سهام شخص قرار می‌گیرد</li>
            </ol>

            <h4> سهامداران با خرید سهام ملک در بستر بامچین، در هزینه‌ها و درآمدهای ملک دخیل نیستند و حق هیچگونه تصرف نسبت به ملک را ندارند</h4>
            <h4>سهامداران ملزم به پرداخت مبلغی برای بیمه سهام خود در شرایط بروز خسارات فیزیکی به ملکی سهام آن را خریداری نموده اند می باشند</h4>


        </div>




    </div>
</section>
<!-- //end About us -->
<!-- Services block dark -->

<!-- //end Services block dark -->
<!-- Our team -->
<section class="content-row">
    
</section>
<!-- //end Our team -->
<!-- Testimonials -->
<section class="container content-row">
    <h3>شعارهای ایرونیکا</h3>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="quote-block">
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">گردهمایی اصناف</a></h4>
                     گردآوری همه اصناف در کنار یکدیگر
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-md visible-xs visible-sm"></div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="quote-block">
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">خدمات و پیشه</a></h4>
                       بهترین خدمات و بهترین کیفیت از تمامی فروشگاه ها
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-md visible-xs visible-sm"></div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="quote-block">
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">روش پرداخت امن و مطمن</a></h4>
                        ایرونیکا با داشتن اینماد بانکی دارای بهترین و مطمن ترین خدمات بانکی است
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //end Testimonials -->
