<title>قوانین و مقررات</title>
@{
    ViewBag.Title = "About";
    Tezol_DBEntities db = new Tezol_DBEntities();
}

<!-- //end Social widgets -->
<!-- Breadcrumbs -->
<section class="container">
    <nav class="breadcrumbs"> <a href="/">خانه</a> <span class="divider">›</span> قوانین و مقررات </nav>
</section>
<!-- //end Breadcrumbs -->
<!-- About us -->
<section class="container content-row page-content">

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">

            <p>
                بام چین با احترامی که برای حریم شخصی کاربران قائل است تمام تلاش خود را می کند تا اطلاعات شخصی کاربران را به صورت کاملا محرمانه نزد خود محفوظ نگه دارد
                بام چین برای فرایند معاملات، ثبت نظر یا استفاده از برخی امکانات وب سایت اطلاعاتی را از کاربران درخواست می کند تا بتواند خدماتی امن و مطمئن را به کاربران ارائه دهد.
                خواهشمند است در زمان ثبت اطلاعات شخصی و کاربری، به داده های خواسته شده بام چین از شما هموطنان، کاملا توجه کنید تا در آینده باعث ایجاد مشکلات متعدد برای شما و مجموعه بام چین نگردد.
            </p>
            <p>
                یادآوری می‌شود آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت می‌کند، تنها آدرس ایمیل و تلفن‌های رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های شرکت از طریق آنها صورت می‌گیرد، بنابراین درج آدرس، ایمیل و شماره تماس‌های همراه و ثابت توسط مشتری، به منزله مورد تایید بودن صحت آنها است و در صورتی که موارد فوق به شکل صحیح یا کامل درج نشده باشد، بام چین جهت اطمینان از صحت و قطعیت ثبت سفارش می‌تواند از مشتری، اطلاعات تکمیلی و بیشتری درخواست کند ودر صورت عدم چاسخ و همکاری کاربر در تصحیح اطلاعات درج شده بام چین هیچ مسئولیتی در قبال تبعات ناشی از عدم صحت اطلاعات موجود نخواهد داشت.
                همچنین بام چین ممکن است برای ارتباط با مشتریان، بهینه‌سازی محتوای وب‌سایت و تحقیقات بازاریابی از برخی اطلاعات جمع آوری شده از کاربران استفاده کند.
            </p>
           


        </div>




    </div>
</section>

<!-- //end Testimonials -->
